{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Details</th>
    </tr>
    {% for account in accounts %} 
        <tr>
            <td><a >{{ account["id"] }}</a></td>
            <td><a>{{ account["name"] }}</a></td>
            <td><a>{{ account["balance"] }}</a></td>
            <td><a href="{{ url_for('account', id=account['id']) }}">View</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}