{% extends "base.html" %}

{% block content %}
    <h1>Detail View</h1>
    <div class="card">
        <h1 class="card-header">{{ details["name"] }}</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: {{ details["id"] }}</li>
            <li class="list-group-item">Balance: {{ details["balance"] }}</li>
        </ul> 
    </div>
    
    
    <h1>Transaction History</h1>
    {% if transactions %}
        <table class="table table-hover table-striped">
            <tr>
                <th>Direction</th>
                <th>ID</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Timestamp</th>
            </tr>
            {% for transaction in transactions %}
            <tr>
                <td>
                    {% if transaction["from_account"] == details["id"] %}
                        Sent
                    {% else %}
                        Received
                    {% endif %}
                </td>
                <td>{{ transaction["id"] }}</td>
                <td>{{ transaction["from_account"] }}</td>
                <td>{{ transaction["to_account"] }}</td>
                <td>${{ transaction["amount"] }}</td>
                <td>{{ transaction["timestamp"] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No transaction history available.</p>
    {% endif %}
{% endblock %}