<!DOCTYPE html>
<html>
    <head>
        <title>Bank of Flask</title>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('transfer') }}">Make Transfer</a>
            <a href="{{ url_for('accounts')}}">Accounts</a>
        </nav>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </body>
</html>